*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 5vw;
    padding: 5vh 0;
    background-color: rgb(20, 20, 20);
}
.header a{
    text-decoration: none;
    color: white;
    &:active{
        color: gray;
    }
}